/* https://www.rapidtables.com/web/color/ */
:root {
  --base-color: #a24059;
  --base-foreground-color: white;
  --background-color: white;
  --color: black;
}

body {
  margin: 0;
}

.search-list {
  position: relative;
}

.search-list ul {
  position: absolute;
  top: 30px;
  width: 100%;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
}

.search-list li {
  padding: 5px 10px;
}

.show {
  display: block !important;
}

.keyword-grid.x-dataview {
  width: 300px;
  height: 100px;
}

.myStyle {
  width: 30px;
  height: 20px;
  background: gray;
  float: left;
}

.proxy-placeholder {
  background-color: lightsalmon;
  position: relative;
}

.proxy-source {
  padding: 10px;
  position: relative;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  user-select: none;
  cursor: move;
  position: relative;
}

.proxy-drag-custom {
  border: 2px dotted rgb(25, 63, 189);
  color: rgb(25, 63, 189);
  padding: 5px;
  text-align: center;
  width: 30%;
  position: absolute;
  top:-10px
}

.main-panel {
  /* position: absolute; */
  border: 1px solid gray;
  top: 100px;
}
