/* https://www.rapidtables.com/web/color/ */
:root {
  --base-color: #a24059;
  --base-foreground-color: white;
  --background-color: white;
  --color: black;
}

body {
  margin: 0;
  padding: 0;
}

.search-list {
  position: relative;
}

.search-list ul {
  position: absolute;
  top: 30px;
  width: 100%;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
}

.search-list li {
  padding: 5px 10px;
}

.show {
  display: block !important;
}

.keyword-grid {
  height: 768px;
}
.keyword-grid .left {
  background-color: #eee;
  margin: 10px;
}
.keyword-grid .right {
  background-color: white;
}

.keyword-grid .keyword-box .keyword-box-title {
  font-weight: bold;
  padding: 10px 0;
}

.keyword-grid .keyword-box .keyword-box-body.empty {
  height: 100%;
  background-color: rgb(165, 165, 165);
}
